body {
    margin: 0;
    padding: 0;
	background-color:black;
	color:white;
}

/* header
----------------------------------------------------------*/
header {
    height:70px;
}
	header div
	{
		float:left;
	}
/* menu
----------------------------------------------------------*/
	header ul#menu
	{
		font-size: 1.3em;
		font-weight: 600;
		padding: 0;
		margin: auto 10px;
		width: auto;
		text-align: center;
	}

		header ul#menu li
		{
			display: inline;
			list-style: none;
		}
			header ul#menu li a
			{
				display: inline-block;
				font: 700 20px 黑体;
				color: white;
				text-align: center;
				padding: 10px;
				width: 130px;
				transition: all 0.5s;
				cursor: pointer;
			}

				header ul#menu li a span
				{
					cursor: pointer;
					display: inline-block;
					position: relative;
					transition: 0.5s;
				}

					header ul#menu li a span:after
					{
						content: '»';
						position: absolute;
						opacity: 0;
						top: -5px;
						right: -5px;
						transition: 0.5s;
					}

				header ul#menu li a:hover
				{
					background-color: #f4511e;
				}

					header ul#menu li a:hover span
					{
						padding-right: 25px;
						color: #fff;
					}

						header ul#menu li a:hover span:after
						{
							opacity: 1;
							right: 0;
						}

/* footer
----------------------------------------------------------*/
footer div.footer-link
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:30px;
}
footer li
{
	display:inline-block;
	line-height:50px;
	margin-top:50px;
	margin-right:50px;
	text-align:left;
}
a.ubi-btn
{
	display:inline-block;
	color:white;
	height:50px;
}
a.wx-icon
{
	background-color:#454545;
	background-position: 95% 50%;
	background-image: url('../../Images/wx_ico.png');
	background-repeat: no-repeat;
	font-size: 14px;
	padding: 5px 20px;
	width: 100%;
}

a.wb-icon
{
	background-color:#454545;
	background-position: 95% 50%;
	background-image: url('../../Images/wb_ico.png');
	background-repeat: no-repeat;
	font-size: 14px;
	padding: 5px 20px;
	width: 100%;
}
span.footer-link
{
}
