.img-location-shanghai{
	background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai.jpg');
}
@media(max-width: 991px){
	.img-location-shanghai{
		background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghaiff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-location-shanghai{
		background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai91d9.jpg?w=767');
	}
}

.img-780-location-shanghai{
	background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai0863.jpg?w=780');
}
.img-780-location-shanghai{
	background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai0863.jpg?w=780');
}
.img-1920-location-shanghai{
	background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai.jpg');
}
.img-eve-fanfest{
	background-image: url('/4iarfuccmw16/22vmWm0lPGKw6KKUA6au0s/10b9a449b3f813304b9f0b86af8554d0/CultureOffice09.jpg');
}
@media(max-width: 991px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/22vmWm0lPGKw6KKUA6au0s/10b9a449b3f813304b9f0b86af8554d0/CultureOffice09ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/22vmWm0lPGKw6KKUA6au0s/10b9a449b3f813304b9f0b86af8554d0/CultureOffice0991d9.jpg?w=767');
	}
}

.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/22vmWm0lPGKw6KKUA6au0s/10b9a449b3f813304b9f0b86af8554d0/CultureOffice090863.jpg?w=780');
}
.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/22vmWm0lPGKw6KKUA6au0s/10b9a449b3f813304b9f0b86af8554d0/CultureOffice090863.jpg?w=780');
}
.img-1920-eve-fanfest{
	background-image: url('/4iarfuccmw16/22vmWm0lPGKw6KKUA6au0s/10b9a449b3f813304b9f0b86af8554d0/CultureOffice09.jpg');
}
.img-eve-fanfest{
	background-image: url('/4iarfuccmw16/6SWr3AyfNCsAsKUsSmuegu/1bd3e7781a20c423b50d01b382047a29/PlayerGatherings02.jpg');
}
@media(max-width: 991px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/6SWr3AyfNCsAsKUsSmuegu/1bd3e7781a20c423b50d01b382047a29/PlayerGatherings02ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/6SWr3AyfNCsAsKUsSmuegu/1bd3e7781a20c423b50d01b382047a29/PlayerGatherings0291d9.jpg?w=767');
	}
}

.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/6SWr3AyfNCsAsKUsSmuegu/1bd3e7781a20c423b50d01b382047a29/PlayerGatherings020863.jpg?w=780');
}
.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/6SWr3AyfNCsAsKUsSmuegu/1bd3e7781a20c423b50d01b382047a29/PlayerGatherings020863.jpg?w=780');
}
.img-1920-eve-fanfest{
	background-image: url('/4iarfuccmw16/6SWr3AyfNCsAsKUsSmuegu/1bd3e7781a20c423b50d01b382047a29/PlayerGatherings02.jpg');
}
.img-eve-fanfest{
	background-image: url('/4iarfuccmw16/4cWQnczCVO6Y8AEEemAaiK/7c420f9ddc0041f6e3b155f1e3c5586e/Culture011.jpg');
}
@media(max-width: 991px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/4cWQnczCVO6Y8AEEemAaiK/7c420f9ddc0041f6e3b155f1e3c5586e/Culture011ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/4cWQnczCVO6Y8AEEemAaiK/7c420f9ddc0041f6e3b155f1e3c5586e/Culture01191d9.jpg?w=767');
	}
}

.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/4cWQnczCVO6Y8AEEemAaiK/7c420f9ddc0041f6e3b155f1e3c5586e/Culture0110863.jpg?w=780');
}
.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/4cWQnczCVO6Y8AEEemAaiK/7c420f9ddc0041f6e3b155f1e3c5586e/Culture0110863.jpg?w=780');
}
.img-1920-eve-fanfest{
	background-image: url('/4iarfuccmw16/4cWQnczCVO6Y8AEEemAaiK/7c420f9ddc0041f6e3b155f1e3c5586e/Culture011.jpg');
}
.hdr-benefits-and-relocation{
	background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_image.jpg');
}
@media(max-width: 991px){
	.hdr-benefits-and-relocation{
		background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_imageff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-benefits-and-relocation{
		background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_image91d9.jpg?w=767');
	}
}

.hdr-eve-online{
	background-image: url('/4iarfuccmw16/60smWJleCceWaeQgWUQsI/2e4449a9aefdc933219f42d4f535eb94/product_header_eve.jpg');
}
@media(max-width: 991px){
	.hdr-eve-online{
		background-image: url('/4iarfuccmw16/60smWJleCceWaeQgWUQsI/2e4449a9aefdc933219f42d4f535eb94/product_header_eveff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-eve-online{
		background-image: url('/4iarfuccmw16/60smWJleCceWaeQgWUQsI/2e4449a9aefdc933219f42d4f535eb94/product_header_eve91d9.jpg?w=767');
	}
}

.bg-eve-online{
	background-image: url('/4iarfuccmw16/5ZeToPEF7awgYyUw80OwUK/d25aa7bab33e5354e628eccc350816c9/header_eveonline.jpg');
}
@media(max-width: 991px){
	.bg-eve-online{
		background-image: url('/4iarfuccmw16/5ZeToPEF7awgYyUw80OwUK/d25aa7bab33e5354e628eccc350816c9/header_eveonlineff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-eve-online{
		background-image: url('/4iarfuccmw16/5ZeToPEF7awgYyUw80OwUK/d25aa7bab33e5354e628eccc350816c9/header_eveonline91d9.jpg?w=767');
	}
}

.img-eve-online{
	background-image: url('/4iarfuccmw16/4RttZKqw52eoGY4gIiyoIE/4c1ce617912a3d3086bfc8c090f5e453/product_eve.jpg');
}
@media(max-width: 991px){
	.img-eve-online{
		background-image: url('/4iarfuccmw16/4RttZKqw52eoGY4gIiyoIE/4c1ce617912a3d3086bfc8c090f5e453/product_eveff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-online{
		background-image: url('/4iarfuccmw16/4RttZKqw52eoGY4gIiyoIE/4c1ce617912a3d3086bfc8c090f5e453/product_eve91d9.jpg?w=767');
	}
}

.img-780-eve-online{
	background-image: url('/Images/game3.jpg?w=780');
}
.img-780-eve-online{
	background-image: url('/Images/game3.jpg?w=780');
}
.img-1920-eve-online{
	background-image: url('/Images/game3.jpg');
}
.img-eve-fanfest{
	background-image: url('/4iarfuccmw16/5GPK3f4fRuak4syGQya4e/56b0c1979ba11d5cc737e0751ec0d60d/CultureFanfest08.jpg');
}
@media(max-width: 991px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/5GPK3f4fRuak4syGQya4e/56b0c1979ba11d5cc737e0751ec0d60d/CultureFanfest08ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/5GPK3f4fRuak4syGQya4e/56b0c1979ba11d5cc737e0751ec0d60d/CultureFanfest0891d9.jpg?w=767');
	}
}

.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/5GPK3f4fRuak4syGQya4e/56b0c1979ba11d5cc737e0751ec0d60d/CultureFanfest080863.jpg?w=780');
}
.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/5GPK3f4fRuak4syGQya4e/56b0c1979ba11d5cc737e0751ec0d60d/CultureFanfest080863.jpg?w=780');
}
.img-1920-eve-fanfest{
	background-image: url('/4iarfuccmw16/5GPK3f4fRuak4syGQya4e/56b0c1979ba11d5cc737e0751ec0d60d/CultureFanfest08.jpg');
}
.hdr-newcastle{
	background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle.jpg');
}
@media(max-width: 991px){
	.hdr-newcastle{
		background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastleff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-newcastle{
		background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle91d9.jpg?w=767');
	}
}

.bg-newcastle{
	background-image: url('/4iarfuccmw16/3S48LwF2uAkMmUUc220mAQ/319872cd35d983a9287ef40f9c3192b4/newcastle_middle.jpg');
}
@media(max-width: 991px){
	.bg-newcastle{
		background-image: url('/4iarfuccmw16/3S48LwF2uAkMmUUc220mAQ/319872cd35d983a9287ef40f9c3192b4/newcastle_middleff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-newcastle{
		background-image: url('/4iarfuccmw16/3S48LwF2uAkMmUUc220mAQ/319872cd35d983a9287ef40f9c3192b4/newcastle_middle91d9.jpg?w=767');
	}
}

.img-newcastle{
	background-image: url('/4iarfuccmw16/4FrpdOdcZqe4MQQeUScMMw/a7365c2f1c00c82b3042df06aef9b8e7/location_newcastle_vertical.jpg');
}
@media(max-width: 991px){
	.img-newcastle{
		background-image: url('/4iarfuccmw16/4FrpdOdcZqe4MQQeUScMMw/a7365c2f1c00c82b3042df06aef9b8e7/location_newcastle_verticalff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-newcastle{
		background-image: url('/4iarfuccmw16/4FrpdOdcZqe4MQQeUScMMw/a7365c2f1c00c82b3042df06aef9b8e7/location_newcastle_vertical91d9.jpg?w=767');
	}
}

.img-780-newcastle{
	background-image: url('/4iarfuccmw16/4FrpdOdcZqe4MQQeUScMMw/a7365c2f1c00c82b3042df06aef9b8e7/location_newcastle_vertical0863.jpg?w=780');
}
.img-780-newcastle{
	background-image: url('/4iarfuccmw16/4FrpdOdcZqe4MQQeUScMMw/a7365c2f1c00c82b3042df06aef9b8e7/location_newcastle_vertical0863.jpg?w=780');
}
.img-1920-newcastle{
	background-image: url('/4iarfuccmw16/4FrpdOdcZqe4MQQeUScMMw/a7365c2f1c00c82b3042df06aef9b8e7/location_newcastle_vertical.jpg');
}
.hdr-london{
	background-image: url('/4iarfuccmw16/621sOIYkuWG0Y0oOwAgeI2/f1215289aca009f51eb2e07c7260edc8/location_london.jpg');
}
@media(max-width: 991px){
	.hdr-london{
		background-image: url('/4iarfuccmw16/621sOIYkuWG0Y0oOwAgeI2/f1215289aca009f51eb2e07c7260edc8/location_londonff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-london{
		background-image: url('/4iarfuccmw16/621sOIYkuWG0Y0oOwAgeI2/f1215289aca009f51eb2e07c7260edc8/location_london91d9.jpg?w=767');
	}
}

.bg-london{
	background-image: url('/4iarfuccmw16/7wAdIVCnlYEaKcUoSiki8y/ef0256c2b27f9c1ddb203af4ff95802e/london_middle.jpg');
}
@media(max-width: 991px){
	.bg-london{
		background-image: url('/4iarfuccmw16/7wAdIVCnlYEaKcUoSiki8y/ef0256c2b27f9c1ddb203af4ff95802e/london_middleff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-london{
		background-image: url('/4iarfuccmw16/7wAdIVCnlYEaKcUoSiki8y/ef0256c2b27f9c1ddb203af4ff95802e/london_middle91d9.jpg?w=767');
	}
}

.img-london{
	background-image: url('/4iarfuccmw16/XXPf1KG3oOqEYOOgsUCuQ/3880519a4ca4b8b15e9920f36255c34e/careers_landing_london.jpg');
}
@media(max-width: 991px){
	.img-london{
		background-image: url('/4iarfuccmw16/XXPf1KG3oOqEYOOgsUCuQ/3880519a4ca4b8b15e9920f36255c34e/careers_landing_londonff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-london{
		background-image: url('/4iarfuccmw16/XXPf1KG3oOqEYOOgsUCuQ/3880519a4ca4b8b15e9920f36255c34e/careers_landing_london91d9.jpg?w=767');
	}
}

.img-780-london{
	background-image: url('/4iarfuccmw16/XXPf1KG3oOqEYOOgsUCuQ/3880519a4ca4b8b15e9920f36255c34e/careers_landing_london0863.jpg?w=780');
}
.img-780-london{
	background-image: url('/4iarfuccmw16/XXPf1KG3oOqEYOOgsUCuQ/3880519a4ca4b8b15e9920f36255c34e/careers_landing_london0863.jpg?w=780');
}
.img-1920-london{
	background-image: url('/4iarfuccmw16/XXPf1KG3oOqEYOOgsUCuQ/3880519a4ca4b8b15e9920f36255c34e/careers_landing_london.jpg');
}
.hdr-culture{
	background-image: url('/4iarfuccmw16/1aTTI4aBrAyE6wA4UqmGuS/35518eb7d2d140002f2afe1396099fe0/crowd6still.jpg');
}
@media(max-width: 991px){
	.hdr-culture{
		background-image: url('/4iarfuccmw16/1aTTI4aBrAyE6wA4UqmGuS/35518eb7d2d140002f2afe1396099fe0/crowd6stillff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-culture{
		background-image: url('/4iarfuccmw16/1aTTI4aBrAyE6wA4UqmGuS/35518eb7d2d140002f2afe1396099fe0/crowd6still91d9.jpg?w=767');
	}
}

.hdr-hiring-process{
	background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_image.jpg');
}
@media(max-width: 991px){
	.hdr-hiring-process{
		background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_imageff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-hiring-process{
		background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_image91d9.jpg?w=767');
	}
}

.hdr-news{
	background-image: url('/4iarfuccmw16/1vLT22TF3GuC2aGgOGc2sE/80b7138d6e746fc394e04f3c8dd6436e/news_header.jpg');
}
@media(max-width: 991px){
	.hdr-news{
		background-image: url('/4iarfuccmw16/1vLT22TF3GuC2aGgOGc2sE/80b7138d6e746fc394e04f3c8dd6436e/news_headerff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-news{
		background-image: url('/4iarfuccmw16/1vLT22TF3GuC2aGgOGc2sE/80b7138d6e746fc394e04f3c8dd6436e/news_header91d9.jpg?w=767');
	}
}

.img-news{
	background-image: url('/4iarfuccmw16/37CTGCT7kkyOcgmEM4UiOu/0f8a90c52069250193fde72d920cd95a/generic_ccp.jpg');
}
@media(max-width: 991px){
	.img-news{
		background-image: url('/4iarfuccmw16/37CTGCT7kkyOcgmEM4UiOu/0f8a90c52069250193fde72d920cd95a/generic_ccpff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-news{
		background-image: url('/4iarfuccmw16/37CTGCT7kkyOcgmEM4UiOu/0f8a90c52069250193fde72d920cd95a/generic_ccp91d9.jpg?w=767');
	}
}

.img-780-news{
	background-image: url('/4iarfuccmw16/37CTGCT7kkyOcgmEM4UiOu/0f8a90c52069250193fde72d920cd95a/generic_ccp0863.jpg?w=780');
}
.img-780-news{
	background-image: url('/4iarfuccmw16/37CTGCT7kkyOcgmEM4UiOu/0f8a90c52069250193fde72d920cd95a/generic_ccp0863.jpg?w=780');
}
.img-1920-news{
	background-image: url('/4iarfuccmw16/37CTGCT7kkyOcgmEM4UiOu/0f8a90c52069250193fde72d920cd95a/generic_ccp.jpg');
}
.hdr-reykjavik{
	background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik.jpg');
}
@media(max-width: 991px){
	.hdr-reykjavik{
		background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavikff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-reykjavik{
		background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik91d9.jpg?w=767');
	}
}

.bg-reykjavik{
	background-image: url('/4iarfuccmw16/5n38TmqNS8wOuwAkAK0sa8/1136cb9593c2d7a51cfb4f49af725d2b/middle_reykjavik.jpg');
}
@media(max-width: 991px){
	.bg-reykjavik{
		background-image: url('/4iarfuccmw16/5n38TmqNS8wOuwAkAK0sa8/1136cb9593c2d7a51cfb4f49af725d2b/middle_reykjavikff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-reykjavik{
		background-image: url('/4iarfuccmw16/5n38TmqNS8wOuwAkAK0sa8/1136cb9593c2d7a51cfb4f49af725d2b/middle_reykjavik91d9.jpg?w=767');
	}
}

.img-reykjavik{
	background-image: url('/4iarfuccmw16/4aQatXeSVOK6o428g0Ae4K/cc3281787a40b8ad560f230f1c969e77/location_reykjavik_vertical2.jpg');
}
@media(max-width: 991px){
	.img-reykjavik{
		background-image: url('/4iarfuccmw16/4aQatXeSVOK6o428g0Ae4K/cc3281787a40b8ad560f230f1c969e77/location_reykjavik_vertical2ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-reykjavik{
		background-image: url('/4iarfuccmw16/4aQatXeSVOK6o428g0Ae4K/cc3281787a40b8ad560f230f1c969e77/location_reykjavik_vertical291d9.jpg?w=767');
	}
}

.img-780-reykjavik{
	background-image: url('/4iarfuccmw16/4aQatXeSVOK6o428g0Ae4K/cc3281787a40b8ad560f230f1c969e77/location_reykjavik_vertical20863.jpg?w=780');
}
.img-780-reykjavik{
	background-image: url('/4iarfuccmw16/4aQatXeSVOK6o428g0Ae4K/cc3281787a40b8ad560f230f1c969e77/location_reykjavik_vertical20863.jpg?w=780');
}
.img-1920-reykjavik{
	background-image: url('/4iarfuccmw16/4aQatXeSVOK6o428g0Ae4K/cc3281787a40b8ad560f230f1c969e77/location_reykjavik_vertical2.jpg');
}
.hdr-eve-gunjack{
	background-image: url('/4iarfuccmw16/5Nm3cXNj32CSUYGmOsk8mG/e4c123c975650349a38e45e55fd8b5fd/product_header_gunjack.jpg');
}
@media(max-width: 991px){
	.hdr-eve-gunjack{
		background-image: url('/4iarfuccmw16/5Nm3cXNj32CSUYGmOsk8mG/e4c123c975650349a38e45e55fd8b5fd/product_header_gunjackff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-eve-gunjack{
		background-image: url('/4iarfuccmw16/5Nm3cXNj32CSUYGmOsk8mG/e4c123c975650349a38e45e55fd8b5fd/product_header_gunjack91d9.jpg?w=767');
	}
}

.bg-eve-gunjack{
	background-image: url('/4iarfuccmw16/1PIm0Nb9rCoSc2ssyaC6M0/dda5722d0e9ae889fada3a3633b8d2c2/prod_back_gunjack.jpg');
}
@media(max-width: 991px){
	.bg-eve-gunjack{
		background-image: url('/4iarfuccmw16/1PIm0Nb9rCoSc2ssyaC6M0/dda5722d0e9ae889fada3a3633b8d2c2/prod_back_gunjackff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-eve-gunjack{
		background-image: url('/4iarfuccmw16/1PIm0Nb9rCoSc2ssyaC6M0/dda5722d0e9ae889fada3a3633b8d2c2/prod_back_gunjack91d9.jpg?w=767');
	}
}

.img-eve-gunjack{
	background-image: url('/4iarfuccmw16/6HTWXLzKEMwsQAOkcM6Wmk/0d99d269523963fc7d4ee236dc85aa1d/product_gunjack.jpg');
}
@media(max-width: 991px){
	.img-eve-gunjack{
		background-image: url('/4iarfuccmw16/6HTWXLzKEMwsQAOkcM6Wmk/0d99d269523963fc7d4ee236dc85aa1d/product_gunjackff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-gunjack{
		background-image: url('/4iarfuccmw16/6HTWXLzKEMwsQAOkcM6Wmk/0d99d269523963fc7d4ee236dc85aa1d/product_gunjack91d9.jpg?w=767');
	}
}

.img-780-eve-gunjack{
	background-image: url('../Images/game2.jpg?w=780');
}
.img-780-eve-gunjack{
	background-image: url('../Images/game2.jpg?w=780');
}
.img-1920-eve-gunjack
{
	background-image: url('../Images/game2.jpg');
}
.img-location-reykjavik{
	background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik.jpg');
}
@media(max-width: 991px){
	.img-location-reykjavik{
		background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavikff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-location-reykjavik{
		background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik91d9.jpg?w=767');
	}
}

.img-780-location-reykjavik{
	background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik0863.jpg?w=780');
}
.img-780-location-reykjavik{
	background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik0863.jpg?w=780');
}
.img-1920-location-reykjavik{
	background-image: url('/4iarfuccmw16/1GqFAfwxzGIUQY2MaGQgo6/b8e1db1c8dd54c32e803734019b6676d/location_reykjavik.jpg');
}
.hdr-shanghai{
	background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai.jpg');
}
@media(max-width: 991px){
	.hdr-shanghai{
		background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghaiff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-shanghai{
		background-image: url('/4iarfuccmw16/8ARpKsUW1qOAWAKU8Qies/c053c7d27dd49c37d8b28741c4039497/location_shanghai91d9.jpg?w=767');
	}
}

.bg-shanghai{
	background-image: url('/4iarfuccmw16/19qn3MFfnq0wAuCoccoU0u/55aa3be8737147ae57a75ce0754edb05/middle_shanghai.jpg');
}
@media(max-width: 991px){
	.bg-shanghai{
		background-image: url('/4iarfuccmw16/19qn3MFfnq0wAuCoccoU0u/55aa3be8737147ae57a75ce0754edb05/middle_shanghaiff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-shanghai{
		background-image: url('/4iarfuccmw16/19qn3MFfnq0wAuCoccoU0u/55aa3be8737147ae57a75ce0754edb05/middle_shanghai91d9.jpg?w=767');
	}
}

.img-shanghai{
	background-image: url('/4iarfuccmw16/5eeSACeTY4QgIAoagy0qUO/4325cbf7892c70fea3380ad8a8b2fa94/location_shanghai_vertical.jpg');
}
@media(max-width: 991px){
	.img-shanghai{
		background-image: url('/4iarfuccmw16/5eeSACeTY4QgIAoagy0qUO/4325cbf7892c70fea3380ad8a8b2fa94/location_shanghai_verticalff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-shanghai{
		background-image: url('/4iarfuccmw16/5eeSACeTY4QgIAoagy0qUO/4325cbf7892c70fea3380ad8a8b2fa94/location_shanghai_vertical91d9.jpg?w=767');
	}
}

.img-780-shanghai{
	background-image: url('/4iarfuccmw16/5eeSACeTY4QgIAoagy0qUO/4325cbf7892c70fea3380ad8a8b2fa94/location_shanghai_vertical0863.jpg?w=780');
}
.img-780-shanghai{
	background-image: url('/4iarfuccmw16/5eeSACeTY4QgIAoagy0qUO/4325cbf7892c70fea3380ad8a8b2fa94/location_shanghai_vertical0863.jpg?w=780');
}
.img-1920-shanghai{
	background-image: url('/4iarfuccmw16/5eeSACeTY4QgIAoagy0qUO/4325cbf7892c70fea3380ad8a8b2fa94/location_shanghai_vertical.jpg');
}
.hdr-careers{
	background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_image.jpg');
}
@media(max-width: 991px){
	.hdr-careers{
		background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_imageff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-careers{
		background-image: url('/4iarfuccmw16/6p3t6CrlaECyAmauISwkW6/6699b5ab82b2209ae94f26bc3aa60b4d/careers_image91d9.jpg?w=767');
	}
}

.img-location-atlanta{
	background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta.jpg');
}
@media(max-width: 991px){
	.img-location-atlanta{
		background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlantaff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-location-atlanta{
		background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta91d9.jpg?w=767');
	}
}

.img-780-location-atlanta{
	background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta0863.jpg?w=780');
}
.img-780-location-atlanta{
	background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta0863.jpg?w=780');
}
.img-1920-location-atlanta{
	background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta.jpg');
}
.hdr-404{
	background-image: url('/4iarfuccmw16/4GC2WzXjU4SqWy2gSMwyce/976655ebfe52c3d9de691ea2df00419a/404_bg.jpg');
}
@media(max-width: 991px){
	.hdr-404{
		background-image: url('/4iarfuccmw16/4GC2WzXjU4SqWy2gSMwyce/976655ebfe52c3d9de691ea2df00419a/404_bgff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-404{
		background-image: url('/4iarfuccmw16/4GC2WzXjU4SqWy2gSMwyce/976655ebfe52c3d9de691ea2df00419a/404_bg91d9.jpg?w=767');
	}
}

.hdr-eve-valkyrie{
	background-image: url('/4iarfuccmw16/5eouY88jVmCysCi8gkiIaM/67261558d3b38d545725d58cea6f5008/product_header_valkyrie.jpg');
}
@media(max-width: 991px){
	.hdr-eve-valkyrie{
		background-image: url('/4iarfuccmw16/5eouY88jVmCysCi8gkiIaM/67261558d3b38d545725d58cea6f5008/product_header_valkyrieff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-eve-valkyrie{
		background-image: url('/4iarfuccmw16/5eouY88jVmCysCi8gkiIaM/67261558d3b38d545725d58cea6f5008/product_header_valkyrie91d9.jpg?w=767');
	}
}

.bg-eve-valkyrie{
	background-image: url('/4iarfuccmw16/3FhUoKIGsEEagmysQ4EaYM/1d83513380ad6b1554bd61af849d1532/product_valkyrie-background_1980x1080.jpg');
}
@media(max-width: 991px){
	.bg-eve-valkyrie{
		background-image: url('/4iarfuccmw16/3FhUoKIGsEEagmysQ4EaYM/1d83513380ad6b1554bd61af849d1532/product_valkyrie-background_1980x1080ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-eve-valkyrie{
		background-image: url('/4iarfuccmw16/3FhUoKIGsEEagmysQ4EaYM/1d83513380ad6b1554bd61af849d1532/product_valkyrie-background_1980x108091d9.jpg?w=767');
	}
}

.img-eve-valkyrie{
	background-image: url('/4iarfuccmw16/6XuXBGbAfSs8AyMcAys6oe/85ab75b0540a55c19bc63a6865c56392/product_valkyrie.jpg');
}
@media(max-width: 991px){
	.img-eve-valkyrie{
		background-image: url('/4iarfuccmw16/6XuXBGbAfSs8AyMcAys6oe/85ab75b0540a55c19bc63a6865c56392/product_valkyrieff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-valkyrie{
		background-image: url('/4iarfuccmw16/6XuXBGbAfSs8AyMcAys6oe/85ab75b0540a55c19bc63a6865c56392/product_valkyrie91d9.jpg?w=767');
	}
}

.img-780-eve-valkyrie{
	background-image: url('../Images/game1.jpg?w=780');
}
.img-780-eve-valkyrie{
	background-image: url('../Images/game1.jpg?w=780');
}
.img-1920-eve-valkyrie
{
	background-image: url('../Images/game1.jpg');
}
.img-eve-fanfest{
	background-image: url('/4iarfuccmw16/2jfjNBtW4IE0Oy0kQ888mw/08977abc0fa8ce6a9861d1c7687562ff/CompanyEvents10.jpg');
}
@media(max-width: 991px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/2jfjNBtW4IE0Oy0kQ888mw/08977abc0fa8ce6a9861d1c7687562ff/CompanyEvents10ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-eve-fanfest{
		background-image: url('/4iarfuccmw16/2jfjNBtW4IE0Oy0kQ888mw/08977abc0fa8ce6a9861d1c7687562ff/CompanyEvents1091d9.jpg?w=767');
	}
}

.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/2jfjNBtW4IE0Oy0kQ888mw/08977abc0fa8ce6a9861d1c7687562ff/CompanyEvents100863.jpg?w=780');
}
.img-780-eve-fanfest{
	background-image: url('/4iarfuccmw16/2jfjNBtW4IE0Oy0kQ888mw/08977abc0fa8ce6a9861d1c7687562ff/CompanyEvents100863.jpg?w=780');
}
.img-1920-eve-fanfest{
	background-image: url('/4iarfuccmw16/2jfjNBtW4IE0Oy0kQ888mw/08977abc0fa8ce6a9861d1c7687562ff/CompanyEvents10.jpg');
}
.bg-awards{
	background-image: url('/4iarfuccmw16/2UfPv14SLCqUi2ESwKSQaU/2c47e96e2065e90553c3112ecd5dd9eb/awards.jpg');
}
@media(max-width: 991px){
	.bg-awards{
		background-image: url('/4iarfuccmw16/2UfPv14SLCqUi2ESwKSQaU/2c47e96e2065e90553c3112ecd5dd9eb/awardsff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-awards{
		background-image: url('/4iarfuccmw16/2UfPv14SLCqUi2ESwKSQaU/2c47e96e2065e90553c3112ecd5dd9eb/awards91d9.jpg?w=767');
	}
}

.hdr-company{
	background-image: url('/4iarfuccmw16/76SK3gKf1SQskgquMCwSQi/e543a8feb6330d3379ff77b746ecc533/company_header_1920x1080_100.jpg');
}
@media(max-width: 991px){
	.hdr-company{
		background-image: url('/4iarfuccmw16/76SK3gKf1SQskgquMCwSQi/e543a8feb6330d3379ff77b746ecc533/company_header_1920x1080_100ff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-company{
		background-image: url('/4iarfuccmw16/76SK3gKf1SQskgquMCwSQi/e543a8feb6330d3379ff77b746ecc533/company_header_1920x1080_10091d9.jpg?w=767');
	}
}

.hdr-privacy-policy{
	background-image: url('/4iarfuccmw16/6qzUxmI3xSU0wM6G86Woai/cf8248d98241874ab3fcb2fee5840613/ccp_generalheader.jpg');
}
@media(max-width: 991px){
	.hdr-privacy-policy{
		background-image: url('/4iarfuccmw16/6qzUxmI3xSU0wM6G86Woai/cf8248d98241874ab3fcb2fee5840613/ccp_generalheaderff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-privacy-policy{
		background-image: url('/4iarfuccmw16/6qzUxmI3xSU0wM6G86Woai/cf8248d98241874ab3fcb2fee5840613/ccp_generalheader91d9.jpg?w=767');
	}
}

.hdr-atlanta{
	background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta.jpg');
}
@media(max-width: 991px){
	.hdr-atlanta{
		background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlantaff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.hdr-atlanta{
		background-image: url('/4iarfuccmw16/4MWhafra1yUYICy8GAMSMg/6ec868878b78e662c20fee46c4e56610/location_atlanta91d9.jpg?w=767');
	}
}

.bg-atlanta{
	background-image: url('/4iarfuccmw16/6sVGtBQ1faWwaeKMQuK80M/9229ab0020d2b5d322cf4ba67473a053/atlanta_middle.jpg');
}
@media(max-width: 991px){
	.bg-atlanta{
		background-image: url('/4iarfuccmw16/6sVGtBQ1faWwaeKMQuK80M/9229ab0020d2b5d322cf4ba67473a053/atlanta_middleff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.bg-atlanta{
		background-image: url('/4iarfuccmw16/6sVGtBQ1faWwaeKMQuK80M/9229ab0020d2b5d322cf4ba67473a053/atlanta_middle91d9.jpg?w=767');
	}
}

.img-atlanta{
	background-image: url('/4iarfuccmw16/3q3oSBuGowGI442CwCuOme/a4e88135dcd1f87d35bfaeb6de3e2717/location_atlanta_vertical.jpg');
}
@media(max-width: 991px){
	.img-atlanta{
		background-image: url('/4iarfuccmw16/3q3oSBuGowGI442CwCuOme/a4e88135dcd1f87d35bfaeb6de3e2717/location_atlanta_verticalff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-atlanta{
		background-image: url('/4iarfuccmw16/3q3oSBuGowGI442CwCuOme/a4e88135dcd1f87d35bfaeb6de3e2717/location_atlanta_vertical91d9.jpg?w=767');
	}
}

.img-780-atlanta{
	background-image: url('/4iarfuccmw16/3q3oSBuGowGI442CwCuOme/a4e88135dcd1f87d35bfaeb6de3e2717/location_atlanta_vertical0863.jpg?w=780');
}
.img-780-atlanta{
	background-image: url('/4iarfuccmw16/3q3oSBuGowGI442CwCuOme/a4e88135dcd1f87d35bfaeb6de3e2717/location_atlanta_vertical0863.jpg?w=780');
}
.img-1920-atlanta{
	background-image: url('/4iarfuccmw16/3q3oSBuGowGI442CwCuOme/a4e88135dcd1f87d35bfaeb6de3e2717/location_atlanta_vertical.jpg');
}
.img-location-newcastle{
	background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle.jpg');
}
@media(max-width: 991px){
	.img-location-newcastle{
		background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastleff58.jpg?w=991');
	}
}
@media(max-width: 776px){
	.img-location-newcastle{
		background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle91d9.jpg?w=767');
	}
}

.img-780-location-newcastle{
	background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle0863.jpg?w=780');
}
.img-780-location-newcastle{
	background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle0863.jpg?w=780');
}
.img-1920-location-newcastle{
	background-image: url('/4iarfuccmw16/dMgV4niXhQaucYEUU6CY8/e433ebb594bb539d3f846c8f6da52a8d/location_newcastle.jpg');
}
.hdr-products{
	background-image: url('/4iarfuccmw16/4DBaVPB1W80YeME0Qeo6AO/12cc19f09848bd29c11e1e2ef505f879/products_header_1920x1080.jpg');
}
@media (max-width: 991px){
	.hdr-products{
		background-image: url('/4iarfuccmw16/4DBaVPB1W80YeME0Qeo6AO/12cc19f09848bd29c11e1e2ef505f879/products_header_1920x1080ff58.jpg?w=991');
	}
}
@media (max-width: 776px){
	.hdr-products{
		background-image: url('/4iarfuccmw16/4DBaVPB1W80YeME0Qeo6AO/12cc19f09848bd29c11e1e2ef505f879/products_header_1920x108091d9.jpg?w=767');
	}
}

.bg-products{
	background-image: url('/4iarfuccmw16/IIvyuoDGykqm2GMys0ikQ/b1914e851aecb76efc86d5e86f3b4d3b/products.jpg');
}
@media (max-width: 991px){
	.bg-products{
		background-image: url('/4iarfuccmw16/IIvyuoDGykqm2GMys0ikQ/b1914e851aecb76efc86d5e86f3b4d3b/productsff58.jpg?w=991');
	}
}
@media (max-width: 776px){
	.bg-products{
		background-image: url('/4iarfuccmw16/IIvyuoDGykqm2GMys0ikQ/b1914e851aecb76efc86d5e86f3b4d3b/products91d9.jpg?w=767');
	}
}

.hdr-about{
	background-image: url('/4iarfuccmw16/76SK3gKf1SQskgquMCwSQi/e543a8feb6330d3379ff77b746ecc533/company_header_1920x1080_100.jpg');
}
@media (max-width: 991px){
	.hdr-about{
		background-image: url('/4iarfuccmw16/76SK3gKf1SQskgquMCwSQi/e543a8feb6330d3379ff77b746ecc533/company_header_1920x1080_100ff58.jpg?w=991');
	}
}
@media (max-width: 776px){
	.hdr-about{
		background-image: url('/4iarfuccmw16/76SK3gKf1SQskgquMCwSQi/e543a8feb6330d3379ff77b746ecc533/company_header_1920x1080_10091d9.jpg?w=767');
	}
}

.bg-about
{
	background-position: left center;
	background-image: url('../Images/about_us_left.png?w=400');
	background-repeat: no-repeat;
}
@media (max-width: 991px){
	.bg-about{
	background-image: url('../Images/about_us_left.png');
	}
}
@media (max-width: 776px){
	.bg-about{
	background-image: url('../Images/about_us_left.png');
	}
}

.img-about{
	background-image: url('/4iarfuccmw16/5T34OtBfgIiUc8oQSc4Ski/0483c52d6c72bba61184d2b4a7cb1360/weareccp_aboutus.jpg');
}
@media (max-width: 991px){
	.img-about{
		background-image: url('/4iarfuccmw16/5T34OtBfgIiUc8oQSc4Ski/0483c52d6c72bba61184d2b4a7cb1360/weareccp_aboutusff58.jpg?w=991');
	}
}
@media (max-width: 776px){
	.img-about{
		background-image: url('/4iarfuccmw16/5T34OtBfgIiUc8oQSc4Ski/0483c52d6c72bba61184d2b4a7cb1360/weareccp_aboutus91d9.jpg?w=767');
	}
}

.img-780-about{
	background-image: url('/4iarfuccmw16/5T34OtBfgIiUc8oQSc4Ski/0483c52d6c72bba61184d2b4a7cb1360/weareccp_aboutus0863.jpg?w=780');
}
.img-780-about{
	background-image: url('/4iarfuccmw16/5T34OtBfgIiUc8oQSc4Ski/0483c52d6c72bba61184d2b4a7cb1360/weareccp_aboutus0863.jpg?w=780');
}
.img-1920-about{
	background-image: url('/4iarfuccmw16/5T34OtBfgIiUc8oQSc4Ski/0483c52d6c72bba61184d2b4a7cb1360/weareccp_aboutus.jpg');
}
.hdr-contact-us{
	background-image: url('/4iarfuccmw16/6qzUxmI3xSU0wM6G86Woai/cf8248d98241874ab3fcb2fee5840613/ccp_generalheader.jpg');
}
@media (max-width: 991px){
	.hdr-contact-us{
		background-image: url('/4iarfuccmw16/6qzUxmI3xSU0wM6G86Woai/cf8248d98241874ab3fcb2fee5840613/ccp_generalheaderff58.jpg?w=991');
	}
}
@media (max-width: 776px){
	.hdr-contact-us{
		background-image: url('/4iarfuccmw16/6qzUxmI3xSU0wM6G86Woai/cf8248d98241874ab3fcb2fee5840613/ccp_generalheader91d9.jpg?w=767');
	}
}

